/** DevTools Main CSS */
html {
    background: #3d3d3d;
}
body {
    background: #3d3d3d;
    font: 12px'Lucida Grande', Arial, sans-serif;
    color: #a3a3a3;
    padding-top: 70px;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}
a {
    color: #a3a3a3;
    text-decoration: none;
}
a:hover {
    color: #5f5f5f;
}
.navbar .container-fluid {
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background: #333333;
}
.container-fluid>.navbar-header {
    margin-right: 0;
    margin-left: 0;
    height: 50px;
    margin-top: 1px;
    text-align: center;
}
.menu ul {
    margin: 10px 0;
}
.header {
    margin-bottom: 20px;
}
.clear {
    margin: 40px 0;
}
table.text-middle td {
    vertical-align: middle !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #a3a3a3;
}
table {
    background-color: #cccccc;
    color: #666666;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}


span.active {background-color: #f5f5f5; color: #000000; padding: 5px;}
span.success {background-color: #dff0d8; color: #000000; padding: 5px;}
span.info {background-color: #d9edf7; color: #000000; padding: 5px;}
span.warning {background-color: #fcf8e3; color: #000000; padding: 5px;}
span.danger {background-color: #f2dede; color: #000000; padding: 5px;}

.guid-list {
    width: 300px;
}
.mime-table {
    width: 300px;
}
.php-info-wrap {
    margin-top: 60px;
}
input.reserialize {
    width: 300px;
}
.form-control {
    height: 21px;
}
