{% extends "layout.html.twig" %}

{# Includes for the HTML header #}
{% block html_head_includes %}{% endblock %}

{% block html_footer_includes %}{% endblock %}

{% block stylesheet %}
    <!-- Stylesheet includes -->

    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.structure.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    {% block page_css %}{% endblock %}

    <!-- END: Stylesheet includes -->
{% endblock %}

{% block javascript %}
    <!-- Javascript includes -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" rel="script" src="{{ asset('js/jquery-1.11.3.min.js') }}" >//</script>
    <script type="text/javascript" rel="script" src="{{ asset('/js/jquery-ui-1.11.4/jquery-ui.min.js') }}" >//</script>
    {% block page_js %}{% endblock %}

    <!-- END: Javascript includes -->
{% endblock %}

{# Header bar with logo and menu #}
{% block header_bar %}

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header col-md-3">
                <img src="/images/jimigrungeSig.png" alt="JimiGrunge" />
            </div>
            <div class="collapse navbar-collapse col-md-9" id="bs-example-navbar-collapse-1">
                {% include 'menu/menu.html.twig' %}
                {#{{ knp_menu_render('DevToolsBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'DevToolsBundle:Menu:knp_menu.html.twig'}) }}#}
            </div>
        </div>
    </nav>

{% endblock %}
