<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="noindex,nofollow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}{% endblock %} - JCG Application</title>

        {% block html_head_includes %}{% endblock %}
        {% block stylesheet %}{% endblock %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="container-fluid header">
            <div class="row">
                {% block header_bar %}{% endblock %}
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2"></div>
                <div class="col-xs-8">
                    {% block breadcrumb %}{% endblock %}
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div class="col-xs-2">

                </div>
                <div class="col-xs-8">
                    {% block control %}{% endblock %}
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="row">
                <div class="col-md-2" id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>

                <div class="col-md-8" id="main-container">
                    <div class="sf-reset">
                        {% block content %}
                            No content
                        {% endblock %}
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

        {% block html_footer_includes %}{% endblock %}

        {% block javascript %}{% endblock %}

    </body>
</html>
