{% extends "public.html.twig" %}

{% block content %}


    <div class="container login-form">
        {% if error is not empty %}
            <div class="alert alert-warning">{{ error }}</div>

        {% endif %}
        <form class="form-signin" role="form" action="{{ path('admin_login_check') }}" method="post">
            <h2 class="form-signin-heading">Please sign in</h2>

            <input type="email" name="_username" value="{{ last_username }}" class="form-control" placeholder="Email address" required autofocus>
            <input type="password" name="_password" class="form-control" placeholder="Password" required>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

    </div>

{% endblock %}
