<!DOCTYPE html>
<html>
<head>
    <title>{% block title '' %} - JCG Application</title>

    <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bootstrap/dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.structure.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('js/jquery-ui-1.11.4/jquery-ui.theme.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheet %}{% endblock %}

</head>
<body>

<div class="container">

    {% block content %}
        No content
    {% endblock %}


</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" rel="script" src="{{ asset('js/jquery-1.11.3.min.js') }}" >//</script>
<script type="text/javascript" rel="script" src="{{ asset('/js/jquery-ui-1.11.4/jquery-ui.min.js') }}" >//</script>
{% block javascript %}{% endblock %}

</body>
</html>
