
<ul class="nav navbar-nav navbar-left">

    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('homepage') }}">Homepage</a> </li>
        <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('users') }}">Users</a></li>
        <li><a href="{{ path('admin_logout') }}">Logout</a></li>
    {% else %}
        <li><a href="{{ path('login') }}">Login</a></li>
    {% endif %}

</ul>
