{% extends "headers.html.twig" %}

{% block title %}User Add{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('users') }}">User list</a></li>
        <li class="active">Add new user</li>
    </ol>
{% endblock %}

{% block content %}

    <form role="form" method="post" action="{{ path('user_create') }}">
        <div class="form-group">
            <label>Username</label>
            <input name="username" type="text" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input name="firstName" type="text" class="form-control" placeholder="First Name">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input name="lastName" type="text" class="form-control" placeholder="Last Name">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input name="cPassword" type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>Role</label>
            <select name="role"  class="form-control">
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_MANAGER">Manager</option>
                <option value="ROLE_DEVELOPER">Developer</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Add</button>
    </form>

{% endblock %}
