{% extends "headers.html.twig" %}

{% block title %}User Edit{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('users') }}">User list</a></li>
        <li class="active">Edit {{ user.username }}</li>
    </ol>
{% endblock %}

{% block content %}

    <form role="form" method="post" action="{{ path('user_save', {userId: user.getId}) }}">
        <div class="form-group">
            <label>Username</label>
            <input name="username" type="text" class="form-control" placeholder="Username" value="{{ user.username }}">
        </div>
        <div class="form-group">
            <label>First Name</label>
            <input name="firstName" type="text" class="form-control" placeholder="First Name" value="{{ user.firstName }}">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input name="lastName" type="text" class="form-control" placeholder="Last Name" value="{{ user.lastName }}">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input name="cPassword" type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group">
            <label>Role</label>
            <select name="role"  class="form-control">
                <option value="ROLE_ADMIN" {% if user.roles == 'ROLE_ADMIN' %}selected{% endif %}>Admin</option>
                <option value="ROLE_MANAGER" {% if user.roles == 'ROLE_MANAGER' %}selected{% endif %} >Manager</option>
                <option value="ROLE_DEVELOPER" {% if user.roles == 'ROLE_DEVELOPER' %}selected{% endif %}>Developer</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">Edit</button>
    </form>

{% endblock %}
