{% extends "headers.html.twig" %}

{% block title %}User List{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">User list</li>
    </ol>
{% endblock %}
{% block control %}
    <a class="btn btn-default" href="{{ path('user_add') }}">Add new user</a>
{% endblock %}

{% block content %}
    <div id="pager" class="pager pull-left">
        <form class="form-inline" role="form">
            <div class="form-group">
                <div class="btn-group">
                    <input type="button" class="btn btn-default first" value="&laquo;"/>
                    <input type="button" class="btn btn-default prev" value="&lt;"/>
                    <input type="button" class="btn btn-default disabled pagedisplay"></button>
                    <input type="button" class="btn btn-default next" value="&gt;"/>
                    <input type="button" class="btn btn-default last" value="&raquo;"/>
                </div>
            </div>
            <div class="form-group">
                <select class="pagesize form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="500">500</option>
                </select>
            </div>
        </form>
    </div>

    <table class="table table-striped table-condensed tablesorter">
        <colgroup>
            <col width="90" />
            <col width="55" />
            <col width="250" />
            <col width="250" />
            <col width="100" />
        </colgroup>
        <thead>
            <tr>
                <th data-sorter="false">&nbsp;</th>
                <th>Username</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}

                <tr>
                    <td>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_DEVELOPER') %}
                            <a class="btn btn-xs btn-default" href="{{ path('user_edit', {userId: user.getId}) }}">Edit</a>
                            <a class="btn btn-xs btn-default" onclick="return confirm('Are you sure?')" href="{{ path('user_delete', {userId: user.getId}) }}">Delete</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.firstName }}
                    </td>

                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {% if user.roles == 'ROLE_DEVELOPER' %}
                            Developer
                        {% elseif user.roles == 'ROLE_MANAGER' %}
                            Manager
                        {% elseif user.roles == 'ROLE_ADMIN' %}
                            Admin
                        {% endif %}

                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
